@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans 3", sans-serif;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved {
  background-color: rgb(223, 255, 242);
  color: rgb(13, 187, 120);
}

.widgetLgButton.Declined {
  background-color: rgb(255, 228, 228);
  color: red;
}

.widgetLgButton.Pending {
  background-color: rgb(233, 235, 255);
  color: blue;
}
